@tailwind base;
@tailwind components;
@tailwind utilities;
/* add font family from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


@layer utilities {
  /* ecm short hand for eCommerce. */
  /* utility class for max-width */
  .ecm-max-width{
    width: 100%;
    max-width: 80rem;
    padding-inline: 1rem;
  }
}

@layer base {
  html {
    font-family: 'Lato', sans-serif;
  }
}
