@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* ecm short hand for eCommerce. */
  /* utility class for max-width */
  .ecm-max-width {
    width: 100%;
    max-width: 80rem;
    padding-inline: 1rem;
  }
}